body{
    font-size: 15px;
    background-color: rgb(184, 244, 244);
    margin: 0;
}

.bg-header{
    img{
        height: auto;
    }
}

.job_component{
    display: flex;
    max-height: 1440px;


    .job_info{
        
        .job-title{
            color: rgb(38, 131, 131);
        }

        .job-highlights{
            color: white;
            background-color: rgb(17, 85, 85);
            border-radius: 5px;
        }
    }

    .job_tags{
        display: flex;
    }
}